nav{
  height: 10vh;
  width: 100%;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav > #logoContainer{
  display: flex;
  align-items: center;
  height: 100%;
  width: 20%;
}

nav > #logoContainer > img{
  height: 60%;
  width: auto;
  cursor: pointer;
}

nav > ul{
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 3rem;
  width: 75%;
}

nav li{
  display: flex;
  justify-content: end;
}

nav a{
  color: var(--text);
  font-size: 1rem;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
}

nav a.active {
  font-weight: 700;
}

nav a:hover{
  color: var(--highlight);
}

nav > #burger-menu{
  filter: invert();
  width: 100%;
  display: none;
  padding-left: 2rem;
}

.light nav > #burger-menu{
  filter: invert(0);
}

nav #burger-menu-btn{
  display: flex;
  align-items: center;
}

nav #burger-menu-btn > img{
  height: 30px;
}

nav > #theme-btn{
  width: 5%;
  display: flex;
  align-items: center;
  justify-content: end;
}

/* Responsive */
@media (max-width: 580px){
  nav{
    position:relative;
  }
  nav > #burger-menu{
    display: flex;
  }
  nav > #menu{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 10vh;
    left: 0;
    width: 100%;
    height: auto;
    max-height: 0;
    overflow: hidden;
    background: var(--background);
    opacity: 0.9;
    padding: 0 1rem;
    gap: 1.5rem;
    transition: max-height 0.4s ease, padding 0.4s ease;
    z-index: 1100;
  }
  nav > #menu.active {
    max-height: 500px;
    padding: 1rem 2rem;
  }
  nav li {
    justify-content: start;
  }
}

@media (max-width: 480px){
  nav #burger-menu-btn > img{
    height: 20px;
  }
}