.new-list-btn{
  position: relative;
  bottom: 16px;
  padding: 5px;
  border-radius: 5px;
}

.new-list-btn:hover{
  background-color: var(--backgroundtr);
}

.task-lists {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  justify-content: center; 
  gap: 1rem;
  padding: 2rem;
  max-width: 100%;
}