.new-list-btn{
  position: relative;
  bottom: 8px;
  padding: 5px;
  border-radius: 5px;
  font-weight: bold;
  margin-bottom: 6px;
}

.new-list-btn:hover{
  background-color: var(--backgroundtr);
}

.task-lists{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  justify-content: center; 
  gap: 1rem;
  max-width: 100%;
}

.shopping-list-container{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0;
}

@media (max-width: 480px){
  .task-lists{
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  }
  .new-list-btn{
    bottom: 0;
  }
}