.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  background: var(--modal-bg);
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  text-align: center;
  color: var(--text);
}

.modal-content > #list-name, .modal-content > #event-title {
  border-radius: 10px;
  width: 90%;
  padding: 8px;
  margin: 10px 0;
}

.fc-event-title::first-letter {
    text-transform: uppercase;
}

.modal-content > div{
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.modal-content > div > input{
  padding: 0.3rem;
  border-radius: 5px;
}

.modal-content > div > #alert-minutes{
  text-align: center;
  width: 3rem;
  height: fit-content;
}

.modal-btns {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
}

.modal-btns button {
  padding: 6px 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}