header{
    height: 10vh;
    margin: 0;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: var(--background);
    transition: background-color 1s ease, color 1s ease;
}

body.show-install-banner header {
  margin-top: 30px; /* O 20px si el botón mide 20 */
}

/* #btn-install{
  display: none;
  width: 100vw;
  height: 20px;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0.8em;
  background-color: #ff8a65;
  text-align: center;
  color: white;
  font-weight: 500;
  border: none;
  cursor: pointer;
  z-index: 1000;
} */

#btn-install {
  display: none;
  width: 100vw;
  height: 30px; /* un poco más alto para estilo banner */
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0.9em;
  background-color: #ff8a65;
  text-align: center;
  color: white;
  font-weight: 500;
  border: none;
  cursor: pointer;
  z-index: 10000; /* por encima de todo */
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}