header{
    height: 10vh;
    margin: 0;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: var(--background);
    transition: background-color 1s ease, color 1s ease;
}

#btn-install {
    display: none;
    width: 100vw;
    height: 40px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--highlight);
    text-align: center;
    color: black;
    font-weight: 700;
}
@media (max-width: 480px){
    #btn-install{
        height: 20px;
    }
}