.task-list{
    display: flex;
    font-size: 1.5em;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 30px;
    border-radius: 10px;
    background-color: var(--card-bg);
    box-shadow: 4px 4px 8px rgba(111, 111, 122, 0.3);
    word-wrap: break-word;
    color: var(--text);
}

.task-list > .list-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-list input{
  border: none;
  height: 20px;
  text-align: center;
}

.task-list > .list-header > .delete-list-btn{
  margin: 10px;
  background-color: transparent;
  border-radius: 10px;
  font-size: 0.8rem;
  padding: 4px 8px;
  cursor: pointer;
  line-height: 1;
  color: var(--text);
}
.task-list > .list-header > .delete-list-btn img{
  width: 25px;
  height: 25px;
  filter: invert();
}
body.light .task-list > .list-header > .delete-list-btn img {
  filter: none; /* para que se vea en negro sobre fondo blanco*/
}