footer{/* en construccion */
    width: 100vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    height: 10vh;
    font-size: 0.9rem;
    display: flex;
    align-items: end;
    justify-content: center;
    flex-wrap: wrap;
    background: linear-gradient(to bottom, var(--background), transparent),
              url('/images/footer-bg-dark.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: var(--text);
    text-align: center;
    padding: 0 1rem 1rem 1rem;
}

.light footer{
    background: linear-gradient(to bottom, var(--background), transparent),
              url('/images/footer-bg-light.png');
}