#daily-panel > #mini-calendar-section{
    padding: 2rem 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#mini-calendar{
    width: 320px;
    height: 407px;
    font-size: 0.8rem;
    margin-bottom: 20px;
}

#mini-calendar .fc-button {
    background-color: #3a716a;
    color: rgba(255, 255, 255, 0.87);
    border: none;
    transition: background-color 0.3s ease;
    font-weight: 600;
}

/* Hover y focus */
#mini-calendar .fc-button:hover, #mini-calendar .fc-button:focus {
    background-color: #2e5751;
    outline: none;
}

/* Botón activo (por ejemplo, el botón seleccionado) */
#mini-calendar .fc-button.fc-button-active {
    background-color: #266052;
    box-shadow: 0 0 5px rgba(38, 96, 82, 0.7);
}

/* Botones de meses */
#mini-calendar .fc-button {
    background-color: #3a716a;
    color: rgba(255, 255, 255, 0.87);
    transition: background-color 0.3s ease;
    border: 1px solid #2e5751;
}

#mini-calendar .fc-button:hover, #mini-calendar .fc-button:focus {
    background-color: #2e5751;
}

/* Botón activo */
#mini-calendar .fc-button.fc-button-active {
    background-color: #266052;
}

#mini-calendar .fc-today-button {
    background-color: #3a716a;
    color: rgba(255, 255, 255, 0.87);
    font-weight: bold;
}

#mini-calendar .fc-today-button:hover,#mini-calendar .fc-today-button:focus {
    background-color: #2e5751;
}

/* Grid */
#mini-calendar .fc-daygrid {
    border-radius: 12px;
    overflow: hidden;
    background-color: var(--text);
    color: var(--background);
}

/* Fila días de la semana */
#mini-calendar .fc-col-header-cell-cushion {
    text-align: center;
}

/* Casilla de un día */
#mini-calendar .fc-daygrid-day-frame {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-left: 0.3rem;
}

/* Número del día */
#mini-calendar .fc-daygrid-day-number {
    font-weight: bold;
}

/* Día de hoy */
#mini-calendar .fc-day-today {
    background-color: rgba(103, 198, 187, 0.2)
}